---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header class="py-2 px-10 flex items-center fixed top-0 w-full justify-between">
			{/*
				Añadir svg del logo de tesla, ademas de colocar el
				atributo class con h-6 w-28 y colocar dentro del div
			*/}
			<div class="flex flex-grow basis-0">

			</div>

			<nav>
				<ul class="flex text-sm [&>li>a]:text-gray-900 [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
					<li><a href="#">Model S</a></li>
					<li><a href="#">Model 3</a></li>
					<li><a href="#">Model X</a></li>
					<li><a href="#">Model Y</a></li>
					<li><a href="#">Powerwall</a></li>
					<li><a href="#">Carga</a></li>
				</ul>
			</nav>

				
			<nav class="flex flex-grow justify-end basis-0">
				<ul class="flex text-sm [&>li>a]:text-gray-900 [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
					<li><a href="#">Soporte</a></li>
					<li><a href="#">Tienda</a></li>
					<li><a href="#">Cuenta</a></li>
					<li><a href="#">Menú</a></li>
				</ul>
			</nav>

		</header>

		<section>
			{/*Descargar video de la landing del repositorio */}
		</section>
		
		<h1 class="text-6xl">Tesla web</h1>
	</main>
</Layout>
