---
import Layout from '../layouts/Layout.astro';
import NavHeader from '../components/NavHeader.astro';
import SlidesContent from '../components/VideoSlideContent.astro';
import ModelYSlideContent from '../components/ModelYSlideContent.astro'
---

<Layout title="Tesla web">
	
		<NavHeader />

		<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto ">

			<div class="snap-center">
				<SlidesContent />
			</div>

			<div class="snap-center">
				<ModelYSlideContent  />
			</div>

	</main>
</Layout>
