---
import Layout from '../layouts/Layout.astro';
import NavHeader from '../components/NavHeader.astro';
import ModelYSlideContent from '../components/ModelYSlideContent.astro'
import VideoSlideContent from '../components/VideoSlideContent.astro';
---

<Layout title="Tesla web">
	<NavHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<div class="snap-center">
			<VideoSlideContent />		
		</div>

		<div class="snap-center">
			<ModelYSlideContent  />
		</div>
	</main>
</Layout>
