---
import SlidesContent from "./SlidesContent.astro"
---

<SlidesContent
  title = 'Model Y'
  subtitle = 'Concertar una prueba de conducción'
  color = 'black'
>
  <div slot="footer-slide">
    <div class="flex place-content-center gap-x-6">
      <a class="bg-zinc-800 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-black transition-colors" href="#">
        Explorar inventario
      </a>
      <a class="bg-white text-black inline-flex text-sm rounded font-medium px-12 py-2 hover:bg-black hover:text-white transition-colors" href="#">
        Pedido personalizado
      </a>
    </div>
    
  </div>

  <img 
  slot="background-slide"
  src="/Model-Y.avif" 
  alt="Model y" 
  class="w-full h-full object-cover object-center" />
</SlidesContent>