---
import SlidesContent from "./SlidesContent.astro"
---

<SlidesContent
  title = 'Disfrute de Tesla'
  subtitle = 'Programe ahora su prueba de conducción hoy mismo'
  color = 'white'
>
  <div slot="footer-slide">
    <a 
      class="border-[3px] border-white text-sm rounded font-medium text-white px-12 py-2 hover:bg-white hover:text-black transition-colors" 
      href="#"
    >
      Prueba de conducción
    </a>
  </div>

  <video
  slot="background-slide" 
    class="w-full h-full object-center object-cover" 
    autoplay 
    muted 
    loop 
    src="/video.webm" 
  >
  </video>

</SlidesContent>
